<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% if message %}
<div class="message">
    {{ message }}
</div>
{% endif %}
<form method="POST" action="/login">
    {{ form.csrf_token }}
    <table>
        <tr><td>{{ form.username.label }} {{ form.username(size=20) }} {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </td></tr>
        <tr><td>{{ form.password.label }} {{ form.password }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </td></tr>
    </table>
    <input type="submit" value="Send">
</form>
</body>
</html>